body {
	margin: 0;
	padding: 0;
	font-color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvatica,Arial,sans-serif;
	height: 100%;
}
.container {
	max-width: 1000px;
	margin: 30px auto;
	height: 250px;
}
* {
	box-sizing: border-box;
}
